@using WebApplication1.Controllers
@using WebApplication1.Models

@model (string,(List<Artists>,List<Genres>))

@{
    ViewData["Title"] = "Add Track";
}


<form class="form-add-track" method="post" enctype="multipart/form-data" asp-controller="Tracks" asp-action="AddTrack">

    @if(@Model.Item1 == Helper.Errors.TrackAlreadyExist)
    {
        <p class="text-danger">@Model.Item1</p>
    }

    <label>Artist</label>
    <select class="w-25" name="Artist">
        @for(var i = 0; i < @Model.Item2.Item1.Count();i++)
        {
            <option value="@Model.Item2.Item1[@i].ArtistId">@Model.Item2.Item1[@i].ArtistName</option>
        }
    </select>
    
    <label>Genre</label>
    <select class="w-25" name="Genre">
        @for(var i = 0; i < @Model.Item2.Item2.Count();i++)
        {
            <option value="@Model.Item2.Item2[@i].GenreId">@Model.Item2.Item2[@i].GenreName</option>
        }
    </select>

    <label>upload audio</label>
    <input required name="files" type="file" multiple/>
    
    <label>upload picture it`s not required*</label>
    <input name="files" type="file" multiple/>

    <input class="uplod-btn btn-primary btn-large" type="submit" value="Upload" />

</form>

