@using WebApplication1.Controllers
@using WebApplication1.Models

@model (string,(IQueryable<Artists>, IQueryable<Genres>))

@{
    ViewData["Title"] = "Add Track";
}


<form class="form-add-track" method="post" enctype="multipart/form-data" asp-controller="Tracks" asp-action="AddTrack">

    @if(@Model.Item1 == Helper.Errors.TrackAlreadyExist)
    {
        <p class="text-danger">@Model.Item1</p>
    }

    <label>Artist</label>
    <select class="w-25" name="Artist">
        @foreach(var artist in @Model.Item2.Item1)
        {
            <option value="@artist.ArtistId">@artist.ArtistName</option>
        }
    </select>
    
    <label>Genre</label>
    <select class="w-25" name="Genre">
        @foreach(var genre in @Model.Item2.Item2)
        {
            <option value="@genre.GenreId">@genre.GenreName</option>
        }
    </select>

    <label>upload audio</label>
    <input required name="files" type="file" multiple/>
    
    <label>upload picture it`s not required*</label>
    <input name="files" type="file" multiple/>

    <input class="uplod-btn btn-primary btn-large" type="submit" value="Upload" />

</form>

