
@using WebApplication1.Controllers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MyProgramPlayList</title>

    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.18/css/bootstrap-select.min.css"/>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebApplication1.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="bg-black Fixed_Panel">
             <div class="Fixed_Panel_Menu">
                @if(Helper.user != null)
                {
                    <div>
                        <a class="" asp-area="" asp-controller="Home" asp-action="Login">@Helper.user?.UserName - @Helper.user?.UserAccessLevel</a>
                    </div>
                }

                <div>
                    <a class="" asp-area="" asp-controller="Main" asp-action="Index">Главное</a>
                </div>
                <div>
                    <a class="" asp-area="" asp-controller="Home" asp-action="Index">Поиск</a>
                </div>

                @if(Helper.user == null)
                {
                    <div>
                        <a class="" asp-area="" asp-controller="Home" asp-action="Login">Login</a>
                    </div>

                    <div></div>
                    <div></div>
                    <div></div>
                }
                else
                {   
                    <div>
                        <a class="" asp-area="" asp-controller="Home" asp-action="Library">Моя медиатека</a>
                    </div>
                    <div>
                    @if(Helper.user?.UserAccessLevel == "admin")
                    {
                        <a class="" asp-area="" asp-controller="Home" asp-action="Users">Users</a>
                    }
                    </div>
                    <div>
                        <a class="" asp-area="" asp-controller="PlayList" asp-action="Index">Создать плейлист</a>
                    </div>
                    <div>
                        <a class="" asp-area="" asp-controller="Saved" asp-action="Saved">Любимые треки</a>
                    </div>
                }
            </div>

            @if(Helper.user != null)
            {
                <hr class="w-75" />
            }
            <div class="Fixed_Panel_PlayLists">
            @{
                try
                {
                    @foreach(var @playlist in Helper.playLists)
                    {
                        <div class="marginibottom">
                            <a class="" asp-area="" asp-controller="PlayList" asp-action="EditPage" asp-route-id="@playlist.Id">@playlist.Name</a>
                        </div> 
                    }
                }
                catch
                {}
            }
            </div>
        </nav>

    </header>


    <div class="Main_Container">

        <main role="main" class="">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.bundle.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.18/js/bootstrap-select.min.js"></script>

    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
