
@using WebApplication1.Controllers
@using WebApplication1.Models

@model IQueryable<Tracks>

@{
    ViewData["Title"] = "Play list";
}

<div class="container">
    <form class="PlayList-Form" method="post" enctype="multipart/form-data">
        <div class="image-playlist">
            <input name="Image" type="file" />
        </div>
        <div class="playlist-name">
            @if (Helper.isPlaylistExist)
            {
                <label class="text-danger">@Helper.Errors.PlayListAlreadyExist</label>
            }
            <input name="Name" type="text" value= "My play list № @{@Helper.countUserPlaylist}" />
            <label>Author: @Helper.user?.UserName</label>
        </div>

        <select name="Tracks" class="multi-select" required multiple data-selected-text-format="values">
        @if(@Model != null){
            @foreach(var @track in @Model)
            {
                <option class="text-black" value="@track.TrackId">@track.Artist @track.TrackName</option>
            }
        }
        </select>
        <button asp-controller="PlayList" asp-action="Create" class="btn btn-success" type="submit">Create</button>
    </form>
</div>


